html {
    text-align: center;
}

body {
    background-color: forestgreen;
    font-size: 25px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Papyrus;
    font-size: 75px;
    padding: 0;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: burlywood;
    font-weight: bold;
}
body > img {
    width: 45rem;
    height: 30rem;
}

a#choice {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

a#choice:hover {
    color: burlywood;
}

div:hover p{
    animation:  shake 0.8s  ;
  }
  
  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(15px);
    }
      
    50%{
      transform: translateX(-15px);
    }
    100%{
      transform: translateX(0px);
    }
  }